<!DOCTYPE html>
<html>
  
    <head>
      <title>Paczusie-logowanie</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
      <script src="/static/js/script.js" defer></script>
    </head>
<body>

  <nav>
    <a href="/">Home</a> 
    <a href="/sender/sign-up">Sign-in</a> 
  </nav>
  <div id="error"></div>
  <form action="/" method="POST" id="formularz" enctype="multipart/form-data">
    <ul>
      <li> <input type="text" name="firstname" placeholder="Imię" id="firstname" required > </li>
      <li> <input type="text" name="lastname" placeholder="Nazwisko" id="lastname" required></li>
      <li> <input type="text" name="login" placeholder="Login" id="login" required></li>
      <li> <input type="text" name="sex" placeholder="Płeć" id="sex" required></li>
      <li> <input type="password" name="password" placeholder="Hasło" id="password" required></li>
      <li> <input type="password" name="password2" placeholder="Powtórz hasło" id="password2" required></li>
      <li> <input type="file" name="photo" accept="image/png, image/jpg"> </li>    
      <li><input type="submit" value="Submit" id="button"></li>
    </ul>
  </form>

  <footer>
    <p>Autor: Karol Brzeziński</p>
    <p><a href="https://github.com/brzezinskik/Paczusie">Git</a></p>
  </footer>
</body>
</html>