<!DOCTYPE html>
<html>
<body>
    <form>
        Imię: <input type="text" name="firstname"><br>
        Nazwisko: <input type="text" name="lastname"><br>
        Nazwa użytkownika: <input type="text" name="login"><br>
        Płeć: <input type="text" name="sex"><br>
        Hasło: <input type="text" name="password"><br>
        Powtórz: <input type="text" name="password2"><br>
        Zdjęcie: <input type="text" name="photo"><br>
        
        </form>
<nav>
    <a href="/">Home</a> 
    <a href="/sender/sign-up">Sign-in</a> 
  </nav>
</body>
</html>